<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:label="CodeIDE"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"> 
        <!-- Мы используем стандартную тему без ActionBar, так как весь UI рисует Compose -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CodeIDE">
            <!-- Мы убрали ссылку на XML-тему и здесь -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>